# Git
.git/
.github/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yaml

# Env & venv
.venv/
env/.env.example

# Cache
*.pytest_cache
**/__pycache__/

# IDE
.idea/
.DS_Store

# Linters & Formatters
code_checkers/
.pre-commit-config.yaml

# Project
readme/
README.md
persistentdata/
